@media (max-width: 1280px) {
  .banner-wrapper {
    width: 800px;
    flex-wrap: wrap;
  }
  .banner-wrapper__banner {
    /* 
      此處的 5px 為 .banner-wrapper__banner.grass 的 margin-bottom: 10px
      是否可以使用 flex-grow 等方法自動計算？
      */
    height: calc(50% - 5px);
    margin-right: 0;
  }
  .banner-wrapper__banner.grass {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 50px 50px 10px 10px;
  }
  .banner-wrapper__banner.fire {
    /* 此處使用 flex-grow 則可自動平分加入 margin 後的剩餘空間 */
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 10px 50px 10px 50px;
  }
  .banner-wrapper__banner.water {
    flex-grow: 1;
    border-radius: 50px 10px 50px 10px;
  }
}
